<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                               "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ユーザ管理テーブルマッパー -->
<mapper namespace="test.jp.mnuma.mapper.CommentMapper">

	<resultMap type="test.jp.mnuma.entity.CommentEntity" id="commentResultMap">
		<id property="commentId" column="comment_id" />
		<id property="userName" column="user_name" />
		<id property="comment" column="comment" />
		<id property="isFavFlg" column="is_fav_frg" />
		<id property="timestamp" column="timestamp" />
	</resultMap>

	<select id="getAll" resultMap="commentResultMap">
		SELECT comment_id, user_name,
		comment, is_fav_flg, DATE_FORMAT(timestamp, '%Y/%m/%d %H:%i') AS
		timestamp
		FROM comment_tbl
		ORDER BY timestamp DESC;
	</select>

	<!-- add comment -->
	<insert id="post" parameterType="test.jp.mnuma.entity.CommentEntity">
		INSERT INTO comment_tbl
		(user_name, comment)
		VALUES
		(#{userName},#{comment})
	</insert>

	<!-- delete comment-->
	<delete id="delete" parameterType="test.jp.mnuma.entity.CommentEntity">
		DELETE FROM comment_tbl
		WHERE comment_id = #{commentId}
	</delete>
	
	<select id="search" parameterType="java.lang.String" resultMap="commentResultMap">
		SELECT * FROM comment_tbl WHERE comment LIKE '%' #{searchQuery} '%'
	</select>

</mapper>